* {
    /* border: 1px solid red; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header,
.top-content {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-box{
    flex-basis: 80%;
    display: flex;
    margin: 14px 0px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
}
.links{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 24px;
}
.head-link {
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    flex-basis: 80%;
    display: flex;
    margin: 50px 0px;
    gap: 24px;
}
.hero-left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.hero-right{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.hero-main{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero-secondary{
    color: #E5E7EB;
    font-size: 18px;
}
.hero-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px 24px;
}
.placeholder-image{
    background-color: gray;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
